fastapi==0.116.1
granian[reload,pname]==2.5.2
httpx==0.28.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic-core==2.33.2
typing-inspection==0.4.1
fake-useragent==2.2.0
loguru==0.7.3
psutil>=7.0.0
json-repair==0.50.1